@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #32ade6;
  --text-color: #b0b0b0;
}

[data-theme='dark'] {
  --primary-color: #64d2ff;
  --text-color: #b0b0b0;
}

.fill-content {
  min-height: calc(100vh - 17.5rem);
}