html.noise body::before {
  position: fixed;
  inset: 0;
  content: '';
  opacity: 0.04;
  background-repeat: repeat;
  /* filter: blur(3px); */
}

html[data-theme='dark'].noise body::before {
  opacity: 0.01;
}

@media print {
  /* styles for print */
  html.noise body::before {
    display: none;
  }
}
