# https://github.com/RSSNext/Follow/blob/dev/.github/workflows/build.yml
name: CI Build

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      tag_version:
        description: 'Tag Version'
        required: true
# https://docs.github.com/en/enterprise-cloud@latest/actions/writing-workflows/choosing-what-your-workflow-does/control-the-concurrency-of-workflows-and-jobs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
env:
  NODE_OPTIONS: --max-old-space-size=8192

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: write
      attestations: write

    steps:
      - name: Check out Git repository Fully
        uses: actions/checkout@v4
        if: github.event.inputs.tag_version != '' || github.ref_type == 'tag'
        with:
          fetch-depth: 0
          # lfs: true
      - name: Check out Git repository
        uses: actions/checkout@v4
        if: github.event.inputs.tag_version  == '' && github.ref_type != 'tag'
        with:
          fetch-depth: 1
          # lfs: true

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm i

      - name: Build
        run: |
          sh ./ci-release-build.sh

      - name: Upload file
        uses: actions/upload-artifact@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: universal
          path: |
            ./assets/*.zip
          retention-days: 90

      - name: Generate artifact attestation
        if: github.ref_type == 'tag' || github.event.inputs.tag_version != ''
        continue-on-error: true
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: |
            ./assets/*.zip

      - run: npx changelogithub
        if: github.ref_type == 'tag' || github.event.inputs.tag_version != ''
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Version
        id: version
        uses: ./.github/actions/setup-version

      - name: Create Release Draft
        if: github.ref_type == 'tag' || github.event.inputs.tag_version != ''
        uses: softprops/action-gh-release@v2
        with:
          name: v${{ steps.version.outputs.APP_VERSION }}
          draft: false
          prerelease: true
          tag_name: v${{ steps.version.outputs.APP_VERSION }}
          files: |
            ./assets/*.zip
